title = "Lieu"
url = "/lieu/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Dlp\Events\Models\Location"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[siteSearchInclude]
==
{% partial 'site/sp-header' %}
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css" rel="stylesheet" type="text/css"/>


{% if record %}


<section class="team" id="location">
    <div class="container">

        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2>{{record.name}}</h2>
                    <p>
                        {{record.description}}
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="google-map">
                    <div id="map" class="map_canvas" ></div>
                </div>
            </div>
        </div> <!-- End row -->

    </div> <!-- End container -->
</section> <!-- End section -->


<section class="counter-wrapper section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <div class="title">
                    <h2>Coordonnées</h2>
                    <h4>
                        {{record.description}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-location-outline"></i>
                    <div>
                        <span class="counter" data-count={{record.latitude}}>0</span>
                    </div>
                    <h3>Latitude</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-location-outline"></i>
                    <div>
                        <span class="counter" data-count={{record.longitude}}>0</span>
                    </div>
                    <h3>Longitude</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-home-outline"></i>
                    <div>
                        <span class="counter" data-count={{record.postal_code}}>33000</span>
                    </div>
                    <h3>Code postal</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item kill-border">
                    <i class="tf-ion-ios-calendar-outline"></i>
                    <div>
                        <span class="counter" data-count="5">0</span>
                    </div>
                    <h3>Evénements</h3>
                </div>
            </div>
            <!-- end fourth count item -->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-md-12 mt-4">
                <div id="clients-slider" class="clients-logo-slider">
                    {% for event in record.events %}
                        {% if(event.poster) %}
                            <img loading="lazy" src="{{ event.poster.thumb(400,300, {'mode':'crop'}) }}" alt="">
                        {% endif %}
                    {% else %}
                    <li class="no-data">{{ 'Aucun événement' }}</li>
                {% endfor %}
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</section> <!-- end section -->

{% else %}
{{ notFoundMessage }}
{% endif %}

<!-- leaflet library -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
<script type="text/javascript" src="https://tiles.unwiredmaps.com/js/leaflet-unwired.js"></script>


<script type="text/javascript">
    // Maps access token goes here
    var key = 'pk.9d11a072204bf3ef4a9fd9abfd91e502';

    // Add layers that we need to the map
    var streets = L.tileLayer.Unwired({key: key, scheme: "streets"});

    // Initialize the map
    var map = L.map('map', {
        center: [{{record.latitude}}, {{record.longitude}}], // Map loads with this location as center
        zoom: 12,
        scrollWheelZoom: true,
        layers: [streets],
        zoomControl: false
    });
	
    var myIcon = L.icon({
    iconUrl: "{{'/assets/images/favicon.png'|theme}}",
    iconSize: [20, 20]
    });

    // Add a 'marker'
    var marker = L.marker([{{record.latitude}}, {{record.longitude}}], {draggable: true, icon: myIcon} )
        .addTo(map)
        .bindPopup("{{record.name}}")
        .openPopup();

    // Add a 'popup'
    var popup = L.popup()
        .setLatLng([{{record.latitude}}, {{record.longitude}}]);


</script>