title = "Partitions"
url = "/partitions"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Dlp\Events\Models\Partition"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[siteSearchInclude]
==
{% partial 'site/sp-header' %}





<section class="about-2 section" id="about">

    <div class="container">

        <div class="row justify-content-center">

            <!-- section title -->

            <div class="col-lg-6">

                <div class="title text-center">

                    <h2>Documents et partitions</h2>

                    <p>

                        Retrouvez ici l'ensemble des partitions de la banda.

                        <br>Atttention: Certaines de ces partitions comprennent plusieurs fichiers pdf.

                    </p>

                    <div class="border"></div>

                </div>

            </div>

            <!-- /section title -->

        </div>



        <div class="row">



            <div class="col-md-6 mb-4 mb-md-0 d-none d-md-block">

                <img loading="lazy" src="{{'assets/images/undraw_attached_file_n4wm.svg'|theme}}" class="img-fluid" style="width: 25rem;" alt="">

            </div>

            <div class="col-md-6">

                <ul class="checklist">

                    <li>Les partitions sont organisées en 8 séries.

                    </li>

                    <li>La liste de ces séries a été actualisée en septembre 2020</li>

                </ul>

                <a href="https://yarig.fr/bandaqui/themes/vreedom18-bingo/assets/images/liste%20des%20s%C3%A9ries%20sept%202020.pdf" class="btn btn-main mt-20">Liste actuelle des séries</a>

            </div>

        </div> <!-- End row -->

    </div> <!-- End container -->

</section> <!-- End section -->







{% set records = builderList.records %}

{% set displayColumn = builderList.displayColumn %}

{% set noRecordsMessage = builderList.noRecordsMessage %}

{% set detailsPage = builderList.detailsPage %}

{% set detailsKeyColumn = builderList.detailsKeyColumn %}

{% set detailsUrlParameter = builderList.detailsUrlParameter %}





<section class="pricing-table">

    <div class="container">



        <div class="row justify-content-center">

            <!-- section title -->

            <div class="col-xl-6 col-lg-8">

                <div class="title title-white text-center ">

                    <h2>Vos séries</h2>

                    <p>

                    </p>

                    <div class="border"></div>

                </div>

            </div>

            <!-- /section title -->

        </div>



<div class="row">

    {% for i in 1..8 %}

    

    <!-- single pricing table -->

    <div class="col-lg-4 col-md-6">

        <div class="pricing-item">



            <!-- plan name & value -->

            <div class="price-title">

                <strong class="value">Série {{i}}</strong>

                <p></p>

            </div>

            <!-- /plan name & value -->

            <ul>

            {% for record in records %}



            {% if record.serie  == i %}



            <!-- plan description -->

            <li><i class="tf-ion-ios-arrow-forward"></i>{{record.serie}} {{record.rank}} {{record.name}}

                <br>

                <i class="tf-ion-android-download"></i>

                {% for file in record.gallery %}

                    <a href="{{file.path}}" >{{file.file_name}}</a> &nbsp;

                {% endfor %}

            </li>



            <!-- /plan description -->

            {% endif %}



            {% endfor %}

        </ul>



        </div>

    </div>

    <!-- end single pricing table -->

  

{% endfor %}





</div> <!-- End row -->



</div>

</section>